.padding-container{
    padding: 150px 0;
}
.font-card{
    font-size: 22px;
    font-family: 'League Spartan ' , sans-serif;
    font-weight: bold;
}
.font-rivewer{
    font-size: 12px;
    font-family: 'League Spartan ' , sans-serif;
    font-weight: bold;
}