.color {
  color: #ff4343;
}
.bg-color {
  background-color: #eef3f9;
}

.Poppins-family {
  font-family: "Poppins";
}

.font-color {
  color: #1f2c73;
 
}
.font-sz-clor{
  color: #1f2c73;
  font-size: 40px;

}
.poopins-faimly{
  font-family: 'Poppins', sans-serif;
}
.Spartan-faimly
{
  font-family: 'League Spartan', sans-serif;
}
.Inter-family {
  font-family: 'Inter Tight', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;1,700&family=Inter+Tight:ital,wght@0,200;0,300;1,100&family=League+Spartan:wght@300;400;500;600&family=Montserrat:ital,wght@0,400;0,500;1,300;1,900&family=Poppins:wght@500;600;700;800&display=swap');
span{
font-family: 'Averia Serif Libre', cursive;
font-family: 'Inter Tight', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}
